<!DOCTYPE html>
<html>
<head>
  <title>Champollion</title>
  <%= stylesheet_link_tag    "champollion/application", media: "all" %>
  <%= javascript_include_tag "champollion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
